include modules/_head.pug
<body>
	<!-- wrapper start -->
	<div class="wrapper">
		<!-- header start -->
		include modules/_header.pug
		<!-- header end -->
		<!-- main start -->
		<div class="main">
			include modules/_main_slider.pug
			include modules/_hot_offer.pug
			include modules/_about.pug
			include modules/_manufacturers.pug
			include modules/_seo_text.pug
		</div>
		<!-- main end -->
		<!-- footer start -->
		include modules/_footer.pug
		<!-- footer end -->
	</div>
	<!-- wrapper end -->
</body>
</html>