/* style reset */
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}
a {
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
}

html {
  font-size: 16px;
  height: 100%;
}
body {
  overflow-x: hidden;
  font-size: 16px;
  height: 100%;
  
  -webkit-font-smoothing: antialiased; /*  сделает фон более округлым при масштабировании */
  -webkit-overflow-scrolling: touch; /* позволит скролить тачскрином */
  
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  display: flex;
  flex-direction: column;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}
p {
  line-height: 22px;
  margin-bottom: 25px;
}
.centered {
  text-align: center;
}
// html,
// body {
//   min-height: 100vh;
// }
button {
  border: none;
  color: inherit;
}
* {
  outline: 0 !important;
}
/*/ Remove border and padding in Firefox */
::-moz-focus-outer, ::-moz-focus-inner {
    border: 0;
    padding: 0;
}
button::-moz-focus-inner 
{
  border: 0;
}
dl, ol, ul {
  margin-bottom: 0 !important;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* style reset */

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  // height: 100%; /* выдавливает хедер в самый верх страницы */
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  flex: 1 0 auto;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
.content {
  width: 100%;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow: hidden;
}
.footer {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.centeredBlock {
  margin: 0 auto !important;
}
