/* variable */
/* colors from the darkest to brightest start */
$text-darkest: #000000;
$text-regular: #222222;
$text-brightest: #939393;
$contrast-deep: #093567;
$contrast-light: #3784c0;
$contrast-hilited: #e24157;
$borders: #eaeaeb;

/* colors from the darkest to brightest end */
/* fonts family start */
$main-font-family: 'Roboto', sans-serif;
$heading-font-family: 'Play', sans-serif;
/* fonts family end */
/* fonts sizes start */

/* fonts sizes end */
/* variable end */