<!-- about section start -->
<section data-section="about" class="rowFlex aboutWrap">
    <div id="aboutCaptionOrder" class="scrFullSide">
        <div class="mainColumn">
            <h2>О компании</h2>
            <div class="sectionSubtitle rowFlex">
                <a href="#">подробнее</a>
                <div class="subtitleLine ">
                    <div class="lightLine">
                    </div>
                    <div class="darkLine">
                    </div>
                </div>
            </div>
            <div class="textRightWrap">
                <p>Ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. ut labore et dolore magnam aliquam quaerat voluptatem. ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.</p>
            </div>
        </div>
    </div>
    <div id="aboutSliderOrder" class="aboutSliderWrap">
        <div class="aboutSlider">
            <!-- slide item start -->
            <div class="slide">
                <div class="imgItem">
                    <img src="/img/aboutSlider/1.png" alt="antoniolupi">
                </div>
            </div>
            <!-- slide item end -->
            <!-- slide item start -->
            <div class="slide">
                <div class="imgItem">
                    <img src="/img/aboutSlider/1.png" alt="axor">
                </div>
            </div>
            <!-- slide item end -->
            <!-- slide item start -->
            <div class="slide">
                <div class="imgItem">
                    <img src="/img/aboutSlider/1.png" alt="alca-plast">
                </div>
            </div>
            <!-- slide item end -->
        </div>
    </div>
</section>
<!-- about section end -->