<!-- footer -->
<div class="footer rowFlex centered">
    <div class="mainColumn footerWrap">
        <div class="footerLeftColumn">
            <div class="footerLogo">
            </div>
        </div>
        <div class="footerMenu">
            <ul class="footerMenuItems footerItemsCatalog">
                <h3>каталог товаров</h3>
                <ul class="subMenuWrap">
                    <li class="subMenuColumn">
                        <ul class="subMenuItems">
                            <li><a href="#">Сантехника</a></li>
                            <li><a href="#">Вентиляция</a></li>
                        </ul>
                    </li>
                    <li class="subMenuColumn">
                        <ul class="subMenuItems">
                            <li><a href="#">Теплотехника</a></li>
                            <li><a href="#">Плитка</a></li>
                        </ul>
                    </li>
                    <li class="subMenuColumn">
                        <ul class="subMenuItems">
                            <li><a href="#">Бассейны/СПА</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>
            <ul class="footerMenuItems footerMenuSwith">
                <ul class="menuItemsSubColumn">
                    <li><a class="foterMenuLink" href="#">О компании</a></li>
                    <li><a class="foterMenuLink" href="#">Акции</a></li>
                    <li><a class="foterMenuLink" href="#">Оплата</a></li>
                </ul>
                <ul class="menuItemsSubColumn">
                    <li><a class="foterMenuLink" href="#">Доставка</a></li>
                    <li><a class="foterMenuLink" href="#">Контакты</a></li>
                </ul>
            </ul>
        </div>
        <div class="rights">
            <span>©2017. All right reserved</span>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>  
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script type="text/javascript" src="js/all.min.js"></script>
</div>
<!-- footer end-->