<!-- hot offer start -->
<section data-section="hotOffer" class="hotOfferWrap">
    <div class="hotOfferRow">
        <div id="hotItemsOrder" class="productCardWrap">
            <!-- product card start -->
            <div class="productCard sale addToCart">
                <div class="productColumn">
                    <img src="/img/hotOffer/59-vanna.png" alt="product img">
                    <div class="captionText">
                        <span>Ванна стальная</span>
                        <span>Производитель: Kaldewei saniform plus</span>
                    </div>
                    <div class="priceText">
                        <span>808 грн.</span>
                    </div>
                    <div class="addtoCartWrap">
                        <!-- svg image start -->
                        include icons/shopping-cart.svg
                        <!-- svg image end -->
                    </div>
                </div>
            </div>
            <!-- slide item end -->
            <!-- product card start -->
            <div class="productCard sale addToCart">
                <div class="productColumn">
                    <img src="/img/hotOffer/59-vanna.png" alt="product img">
                    <div class="captionText">
                        <span>Ванна стальная</span>
                        <span>Производитель: Kaldewei saniform plus</span>
                    </div>
                    <div class="priceText">
                        <span>808 грн.</span>
                    </div>
                    <div class="addtoCartWrap">
                        <!-- svg image start -->
                        include icons/shopping-cart.svg
                        <!-- svg image end -->
                    </div>
                </div>
            </div>
            <!-- slide item end -->
        </div>
        <div id="hotOfferCaptionOrder" class="scrFullSide">
            <div class="mainColumn">
                <h2>Горячие предложения</h2>
                <div class="sectionSubtitle rowFlex">
                    <a href="#">смотреть все акции</a>
                    <div class="subtitleLine ">
                        <div class="lightLine">
                        </div>
                        <div class="darkLine">
                        </div>
                    </div>
                </div>
                <div class="textRightWrap">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="hotOfferRow">
        <div class="productCardWrap">
            <!-- product card start -->
            <div class="productCard sale addToCart">
                <div class="productColumn">
                    <img src="/img/hotOffer/59-vanna.png" alt="product img">
                    <div class="captionText">
                        <span>Ванна стальная</span>
                        <span>Производитель: Kaldewei saniform plus</span>
                    </div>
                    <div class="priceText">
                        <span>808 грн.</span>
                    </div>
                    <div class="addtoCartWrap">
                        <!-- svg image start -->
                        include icons/shopping-cart.svg
                        <!-- svg image end -->
                    </div>
                </div>
            </div>
            <!-- slide item end -->
            <!-- product card start -->
            <div class="productCard sale addToCart">
                <div class="productColumn">
                    <img src="/img/hotOffer/59-vanna.png" alt="product img">
                    <div class="captionText">
                        <span>Ванна стальная</span>
                        <span>Производитель: Kaldewei saniform plus</span>
                    </div>
                    <div class="priceText">
                        <span>808 грн.</span>
                    </div>
                    <div class="addtoCartWrap">
                        <!-- svg image start -->
                        include icons/shopping-cart.svg
                        <!-- svg image end -->
                    </div>
                </div>
            </div>
            <!-- slide item end -->
        </div>
        <div class="productCardWrap">
            <!-- product card start -->
            <div class="productCard sale addToCart">
                <div class="productColumn">
                    <img src="/img/hotOffer/59-vanna.png" alt="product img">
                    <div class="captionText">
                        <span>Ванна стальная</span>
                        <span>Производитель: Kaldewei saniform plus</span>
                    </div>
                    <div class="priceText">
                        <span>808 грн.</span>
                    </div>
                    <div class="addtoCartWrap">
                        <!-- svg image start -->
                        include icons/shopping-cart.svg
                        <!-- svg image end -->
                    </div>
                </div>
            </div>
            <!-- slide item end -->
            <!-- product card start -->
            <div class="productCard sale addToCart">
                <div class="productColumn">
                    <img src="/img/hotOffer/59-vanna.png" alt="product img">
                    <div class="captionText">
                        <span>Ванна стальная</span>
                        <span>Производитель: Kaldewei saniform plus</span>
                    </div>
                    <div class="priceText">
                        <span>808 грн.</span>
                    </div>
                    <div class="addtoCartWrap">
                        <!-- svg image start -->
                        include icons/shopping-cart.svg
                        <!-- svg image end -->
                    </div>
                </div>
            </div>
            <!-- slide item end -->
        </div>
    </div>
</section>
<!-- hot offer end -->